.nuestroespacio {
    width: 100%;
    margin-top: 20px;
}

.nuestroespacio .info-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.nuestroespacio .info-container h1 {

    border: 2px solid indianred;
    padding: 20px;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 35px;
    
}


.nuestroespacio .info-container p {
    
    text-align: center;
    font-size: 15px;
    color: black;
    line-height: 35px;
    margin: 10px 0px;
    margin-top: 10px;
    margin-bottom: 56px;
    display:block;
    text-align: center;
    border-radius: 20px;
    font-family: cursive;
}

.nuestroespacio .info-container .about-gallery {

    width: 100%;
    display: flex;
    justify-content: flex;
    margin: 50px 0px;
}

.nuestroespacio .info-container .about-gallery img{ 
    width: 31%;
    height: 400px;
    object-fit: cover;
    margin: 20px 10px;
    border-radius: 10px;
    cursor: pointer;    
    display: auto;
   }

   .nuestroespacio .info-container .about-gallery img:hover {

    filter: drop-shadow(0 0 0.75rem crimson);
   }  